/__pycache__
/routes/__pycache__
/db
/static/images/word_cloud.png
/static/images/bar_chart.png
/static/images/pie_chart.png
/static/images/stats.png
/static/images/common_chart.png
/tests/__pycache__
/tests/functional/__pycache__
/tests/unit/__pycache__
/.pytest_cache