{% extends '/html/base.html' %} {% block content %}
<head>
    <link rel="stylesheet" href = "{{ url_for('static', filename='tutorial.css') }}">
</head>
    <h2 class="title">Tutorial</h2>
    <section class="tutorial-container">
      <div class="steps-wrapper">
        <article class="step">
          <div class="step-content">
            <img loading="lazy" src="{{ url_for('static', filename='images/copy-url.png') }}" alt="Step 1 Image" class="step-image" />
            <div class="step-text">Step 1: Copy Youtube URL or Youtube Video ID</div>
          </div>
        </article>
        <article class="step">
          <div class="step-content">
            <img loading="lazy" src="{{ url_for('static', filename='images/paste-url.png') }}" alt="Step 2 Image" class="step-image" />
            <div class="step-text">Step 2: Paste Youtube URL or Youtube Video ID in box</div>
          </div>
        </article>
        <article class="step">
          <div class="step-content">
            <img loading="lazy" src="{{ url_for('static', filename='images/select-pages.png') }}" alt="Step 3 Image" class="step-image" />
            <div class="step-text">Step 3: Select number of comment pages from dropdown</div>
          </div>
        </article>
        <article class="step">
          <div class="step-content">
            <img loading="lazy" src="{{ url_for('static', filename='images/generate-pages.png') }}" alt="Step 4 Image" class="step-image" />
            <div class="step-text">Step 4: Click ‘Generate’ button to generate results</div>
          </div>
        </article>
      </div>
    </section>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
            if (localStorage.getItem("darkMode") === "enabled") {
              document.querySelector('body').classList.add("dark-mode");
            }
          });
</script>
{% endblock %}
