html,
body {
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #181818;
}

@media (max-width: 991px) {
    .header {
        flex-wrap: wrap;
        padding: 0 20px;
        max-width: 100%;
    }

    .logo-container {
        white-space: initial;
    }

    .nav-menu {
        flex-wrap: wrap;
    }
}


.logo-container {
    display: flex;
    margin-left: 20px;
}

.logo-text {
    font-family: Inter, sans-serif;
}

.logo-image {
    object-fit: auto;
    object-position: center;
}

.nav-menu {
    margin-top: 16px;
    margin-right: 20px;
    font-family: Inter, sans-serif;
    width: 100%;
}

.nav-bar {
    list-style:none;
}

.nav-bar li{
    display:inline-block; 
    padding:0 20px; 
    position:relative;
}

.nav-bar li:not(:nth-last-child(-n+3))::after{
    content:""; 
    border:1px solid #5e5e5e;
    border-width: 1.2px 1px 0 0;
    position:absolute; 
    right:-1px; 
    top:0; 
    height:100%;
}

.dark-mode-button, #right-item{
    float: right;
}

.login-button {
    font: 16px Inter, sans-serif;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    padding: 14px 24px;
    height: 16px;
    background-color: #f44e3f;
}

.login-button:link {
    text-decoration: none;
    color: white;
}

.login-button:visited {
    text-decoration: none;
    color: white;
}

.nav-item, .nav-item:link, .nav-item:visited{
  text-decoration: none;
  color: white !important;
}

.moon-logo {
    height: 40px;
    width: 40px;
    color: rgb(45, 45, 48);
}

.dark-mode-button {
    border-radius: 20px;
    margin-top: -14px;
}

.dark-mode,
.dark-mode body{
    background-color: #2d2d30;
}

.dark-mode .logo-text a,
.dark-mode .nav-item,
.dark-mode .login-button {
    color: white;
}

.dark-mode .input-label,
.dark-mode .input-field {
    color: white;
    background-color: #444;
}

.dark-mode .input-url,
.dark-mode .input-page {
    color: white;
}

.dark-mode .content {
    background-color: #2d2d30;
}

.dark-mode .generate-button {
    background-color: #333;
    color: white;
}

