.input-container {
  display: flex;
  justify-content: space-between;
  width: 54.0625rem; /* 865px in rem */
  max-width: 100%;
  gap: 1.25rem; /* Using rem for gap */
  font-size: 1rem; /* Using rem for font size */
}

@media (max-width: 991px) {
  .input-container {
    flex-wrap: wrap;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem; /* Using rem for padding */
  width: 50%;
}

.input-label {
  font-family: Inter, sans-serif;
  color: #000;
  text-align: center;
}

.input-field {
  font-family: Inter, sans-serif;
  color: #828282;
  background-color: #fff;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 0.5rem; /* Using rem for border radius */
  box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.05); /* Using rem for shadow */
  padding: 0.625rem 1rem; /* Using rem for padding */
  margin-top: 0.75rem; /* Using rem for margin */
  white-space: nowrap;
  justify-content: center;
}

@media (max-width: 991px) {
  .input-field {
    white-space: normal;
  }
}

.generate-button {
  font-family: Inter, sans-serif;
  color: #fff;
  background-color: #000;
  border-radius: 0.5rem; /* Using rem for border radius */
  box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.05); /* Using rem for shadow */
  padding: 1rem 2rem; /* Using rem for padding */
  margin-top: 1.5rem; /* Using rem for margin */
  width: 54.0625rem; /* 865px in rem */
  max-width: 100%;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .generate-button {
    white-space: normal;
    padding: 0 1.25rem; /* Using rem for padding */
  }
}

.nav-item:link,
.nav-item:visited {
  text-decoration: none;
  color: black;
}

.login-button:link,
.login-button:visited {
  text-decoration: none;
  color: white;
}
