.input-container {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .input-container {
      flex-wrap: wrap;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.input-url,
.input-page {
  font-family: Inter, sans-serif;
  color: #ffffff;
  text-align: center;
}

.input-field-url,
.input-field-page {
  font-family: Inter, sans-serif;
  color: #828282;
  border-radius: 8px;
  padding: 10px 16px;
  margin-top: 12px;
  justify-content: center;
}

.input-field-url {
  width: 450px;
}

.input-field-page {
  width: 330px;
}

@media (max-width: 991px) {
  .input-field {
      white-space: initial;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.generate-button {
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  background-color: #f46262;
  border-radius: 15px;
  padding: 16px 32px;
  width: 500px;
  justify-content: center;
}

@media (max-width: 991px) {
  .generate-button {
      white-space: initial;
      padding: 0 20px;
  }
}

.nav-item:link {
  text-decoration: none;
  color: black;
}

.nav-item:visited {
  text-decoration: none;
  color: black;
}

.login-button:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.login-button:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  align-items: center;
  justify-content: center;
}