body{
    max-width: 849px;
    margin: auto;
    background-color: white;
}

.dropdown {
    position: relative;
    bottom: 40px;
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

li {
    margin-right: 10px;
}

li:last-of-type{
    margin-left: 200px;
}

h1 {
    color: rgb(255, 0, 0);
    text-align: center;
}   

img {
    width: 15em;
    height: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#paste {
    font-size: 18px
}

div {
    display: flex;
    margin-bottom: 20px;
    margin-top:20px;
}

#url {
    height: 55px;
    width: 45rem;
    font-size: 18px;
    border-color: rgb(255,0,0);
    border-radius: 5px;
}

#generate {
    margin-left:3px;
    height: 60px;
    width: 10rem;
    font-size: 18px;
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    color: white;
    border-radius: 5px;
}

#generate:hover {
    color: black;
}

#pages {
    margin-right: 50px;
    margin-bottom: 50px;
    width: 25rem;
    height: 50px;
    font-size: 15px;
}

#translate {
    font-size: 18px;
}

p1 {
    line-height: 1.5;
}