body {
    max-width: 849px;
    margin: auto;
    background-color: white;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;

}

a:link { 
    text-decoration: none; 
    color: antiquewhite;
  } 

a:visited { 
    text-decoration: none;
    color: antiquewhite;
  } 

li a:hover { 
    text-decoration: none;
  }  

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li:last-of-type {
    margin-left: 179px;
}

li a:hover {
    background-color: rgb(255, 69, 69);
}

h1 {
    color: rgb(255, 0, 0);
    text-align: center;
}

img {
    width: 15em;
    height: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#paste {
    font-size: 18px
}

div {
    display: flex;
    margin-bottom: 20px;
}

#url {
    height: 55px;
    width: 45rem;
    font-size: 18px;
    border-color: rgb(255,0,0);
    border-radius: 5px;
}

#generate {
    margin-left:3px;
    height: 60px;
    width: 10rem;
    font-size: 18px;
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    color: white;
    border-radius: 5px;
}

#generate:hover {
    color: black;
}

#pages {
    margin-right: 50px;
    margin-bottom: 50px;
    width: 25rem;
    height: 50px;
    font-size: 15px;
}

#translate {
    font-size: 18px;
}

p1 {
    line-height: 1.5;
}

#grid {
    display: grid;
    grid-template-rows: auto 250px 250px 250px 250px;
    grid-template-columns: repeat(3, 1fr);
}

#grid > * {
    padding: 1em;
}

#grid h2 {
    grid-column: span 3;
    color: rgb(255, 0, 0);
    text-align: center;
}