.title {
    font-family: Inter, sans-serif;
}

.steps-wrapper {
    gap: 20px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 991px) {
    .steps-wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.step {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .step {
        width: 100%;
    }
}

.step-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 500;
    line-height: 30px;
}

@media (max-width: 991px) {
    .step-content {
        margin-top: 31px;
    }
}

.step-image {
    aspect-ratio: 1.41;
    object-fit: auto;
    object-position: center;
    width: 100%;
}

.step-text {
    font-family: Inter, sans-serif;
    margin-top: 24px;
}
