<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>YouTube Comment Analyzer</h1>
    <form action="http://localhost:8008", method="post">
        <label for="url">Paste your video URL below:</label><br>
        <input type="text" id="url" name="url" placeholder="Video URL"><br><br>
        <button type="submit">Generate Report</button>
    </form>
</body>
</html>