<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dropdown">
        <div class="topnav">
            <nav>
                <ul>
                    <li><a class="active" href="#home">Home</a></li>
                    <li>Instructions</li>
                    <li><a class = "FAQ" href = "#FAQ">FAQ</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li>Contact</li>
                    <li>Privacy Policy </li>
                    <li>Terms of Use</li>
                    <li>login/sign up</li>
                </ul>
            </nav>
        </div>
    </div>
    <h1>YouTube Comment Analyzer</h1>
    <img src="static/images/InsightForge.png" alt="Insight Forge logo for YouTube Comment Analyzer">
    <form action="http://localhost:8008", method="post">
        <label id = "paste" for="url">Paste your video URL below:</label><br>
        <div>
            <input type="text" id="url" name="url" placeholder="Example: https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <button id = "generate" type="submit">Generate Stats</button>
        </div>
        <input type="number" id="pages" name="pages" placeholder="Pages Of Comments you want (100 comments per page)">
        <input type="checkbox" id="flag" name="flag" value = "1">
        <label id = "translate" for="flag">Translate, if text is not English</label><br><br>
    </form>
    <p1>
        To generate a statistics report, paste the URL for the website in the textbox above, then enter the number of pages you want (100 comments per page)
        , then if your comments are not in English, you can select the box with the "Translate, if text is not English" and finally press
        the "Generate Stats" button.
    </p1> <br><br>
    <p2>
        As of now, this application can only function with YouTube but changes are being made to make it compatible with other websites
    </p2>
</body>
</html>