<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <header class="header">
          <div class="logo-container">
            <h1 class="logo-text">InsightForge</h1>
            <img src="static/images/InsightForge.png" alt="InsightForge logo" class="logo-image" />
          </div>
          <nav class="nav-menu">
            <a class = "nav-item" href = "{{ url_for("home") }}">Home</a>
            <a class = "nav-item" href="{{ url_for("tutorial") }}">Tutorial</a>
            <a class = "nav-item" href="{{ url_for("dashboard") }}">Dashboard</a>
            <a class = "nav-item" href="{{ url_for("about")}}">About Us</a>
            <a class = "nav-item" href="{{ url_for("terms") }}">Terms of Use</a>
            <a class = "login-button" href = "{{ url_for("login") }}">Login/Sign up</a>
            </nav>
    </header>
    <h1>Login</h1>
    <div class="login-box">
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"><br><br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>